/*以下是很多網頁會重複需要用到CSS語法，
於是我把它整理在一起，用連結去連*/
body,h1,h2,h3,h4,h5,h6 {font-family: "微軟正黑體", sans-serif}
	
	body, html {
			height: 100%;
			line-height: 1.8;
			text-align: center;
			font-size:16px;
			padding-top:40px;
		}
	input[type=text]{margin:10px 0px 10px 0px; width:50%;}
	button{margin:0px 10px 0px 10px;}
	.form1{
		background-color: #FFD79B;
		border-radius:30px;
		width:70%;
		margin:auto;
		padding:30px 20px;
		text-align:center;
	}
	
	.btn{
		border-radius:10px;
		background-color: #FFF;
	}
	
	.btn:hover{
		background-color: #FFB03B;
	}
	
	.btn1{
		border-radius:10px;
		background-color: #FFB03B;
		border:none;
		color:#FFF;
		font-size: 16px;
	}
	
	.btn1:hover{
		background-color: #FFF;
		border:1px solid #FFB03B;
		color:#FFB03B;
	}
	
	.return{
		position: absolute; 
		left: 20px; 
	}
	
	.bgimg-1 {
		background-position: center;
		background-size: cover;
		background-color: #FFD79B;
		min-height: 100%;
	}
